@model Blog_VT18.Models.BlogPost
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


@Html.Partial("_AddOrChangeBlogPost")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.PostViewBag) {
        @*<div class="text-success" style="border:solid; margin:auto 20px; padding: 40px">
                   @Html.DisplayNameFor(m => m.Title)
                  <form typeof="textarea">@item.content</form>
            </div>*@
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.From.Name
            </td>
         
            <td>
                @Html.ActionLink("Open post in new window", "ViewBlogPost", new { id = item.ID })
            </td>

        </tr>
    }
</table>
