@model Blog_VT18.Models.BlogPost
@using Blog_VT18.App_LocalResources;


@{
    ViewBag.Title = Resources.LblAdd;
}

<h2>@Resources.LblAdd</h2>


@Html.Partial("_AddOrChangeBlogPost")


<table class="table">
    <tr>
        <th>
            @Resources.LblTitle
        </th>
        <th>
            @Resources.LblContent
        </th>
        <th>
            @Resources.LblFrom
        </th>
        <th></th>
    </tr>

    @foreach(var item in ViewBag.PostViewBag) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.From.Name
            </td>
            <td>
                @Html.ActionLink(Resources.LblViewBlogPost, "ViewBlogPost", new { id = item.ID })
            </td>
            <td>
                @{
                    if(User.IsInRole("Administrator")) {

                        if(item.Hidden == false) {
                            @Html.ActionLink(Resources.LblHide, "HidePost", new { id = item.ID })
                        }
                        if(item.Hidden == true) {
                            @Html.ActionLink(Resources.LblShow, "HidePost", new { id = item.ID })
                        }
                    }
                 }
                </td>
            </tr>
        }
</table>
