@model IEnumerable<Blog_VT18.Models.Categories>
@using Blog_VT18.App_LocalResources;

@{
    ViewBag.Title = ViewBag.Message;
}


<h2>@ViewBag.Message</h2>

<h2>@Resources.LblBlog</h2>
@*@Html.ActionLink("ADD BLOGPOST", "Add", new { id = Model.ID })*@

@foreach (var item in Model) {

    @Html.ActionLink(item.Name + " ", "Add", "BlogPost", new { id = item.ID }, new { })

}

@foreach (var item in Model.Where(m => m.Category == m.Category))
{
    <input type="button" value=@Resources.BtnCreateCategory onclick="location.href='@Url.Action("CreateCategory", "BlogPost", new { id=item.Category })' " />

@*@foreach (var item in Model.Where(m => m.Category == m.Category)) {
    <input type="button" value= @Resources.BtnCreateCategory onclick="location.href='@Url.Action("CreateCategory", "BlogPost", new { id=item.Category })' " />*@
    break;

}
