@model IEnumerable<Blog_VT18.Models.Categories>


@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>
@*@Html.ActionLink("ADD BLOGPOST", "Add", new { id = Model.ID })*@

@foreach (var item in Model)
{

    @Html.ActionLink(item.Name + " ", "Add", "BlogPost", new { id = item.Category }, new { })

}

@foreach (var item in Model.Where(m => m.Category == m.Category))
{
   
    @Html.ActionLink(" Create new category", "CreateCategory", "BlogPost", new { id = item.Category }, new { })
    break;

}


@*<table class="table">*@

@*<tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogPostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model)
    {

        @Html.ActionLink(item.Name + " ", "Add Blogpost", "Add", new { id = item.ID }, new { })

    }*@


@*@foreach (var item in Model.BlogPosts)
    {
        @*<div class="text-success" style="border:solid; margin:auto 20px; padding: 40px">
                   @Html.DisplayNameFor(m => m.Title)

                   <form typeof="textarea">@item.Content</form>
            </div>*@
@*<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.From.Name)

    </td>*@
@*@if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }
            </tr>
        }

    </table>*@
