@model Blog_VT18.Models.Categories
@using Blog_VT18.App_LocalResources;

@{
    ViewBag.Title = "Create subcategory";
}

<<<<<<< HEAD
<h2>Create subcategory of @ViewBag.CategoryName</h2>
=======
<h2>@Resources.LblCreateCategory</h2>
>>>>>>> CustomizeLanguage

@using (Html.BeginForm()) {

    <div class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>


    </div>

    <div class="col-md-12">
        <div class="pad-top">
            <button type="submit" class="btn btn-success btn-lg margin-right">
                <span class="glyphicon glyphicon-save"></span> @Resources.LblSave
            </button>
            <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                <span class="glyphicon glyphicon-remove"></span> @Resources.LblCancel
            </a>
        </div>
    </div>
}

