@model IEnumerable<Blog_VT18.Models.BlogPost>


@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>
@Html.ActionLink("ADD BLOGPOST", "Add")
@Html.ActionLink("Education", "Category", "BlogPost")
@Html.ActionLink("Research", "Add")
@Html.ActionLink("Informal", "Add")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @*<div class="text-success" style="border:solid; margin:auto 20px; padding: 40px">
                   @Html.DisplayNameFor(m => m.Title)

                   <form typeof="textarea">@item.Content</form>
            </div>*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From.Name)

            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>
