@model IEnumerable<Blog_VT18.Models.BlogPost>

@{
    ViewBag.Title = "ListPost";
}

<h2>ListPost</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hidden)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hidden)
        </td>
        <td>
            @Html.ActionLink("Open post in new window", "ViewBlogPost", "BlogPost", new { id = item.ID})
        </td>
    </tr>
}

</table>
