@model IEnumerable<Blog_VT18.Models.TimeSuggestion>

@{
    ViewBag.Title = "AllTimeSuggestion";
}

<h2>AllTimeSuggestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>











@foreach (var item in Model)
{





    <tr>
        <td>
            
            @Html.LabelFor(modelItem => item.Sender)
            :
            @Html.DisplayFor(x => item.Sender.Name)

            @Html.LabelFor(modelItem => item.Invited)
    @*foreach (var i in item.Invited) { Html.DisplayFor(modelItem => item.Invited.Any(x => )); }

    *@ 
            
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
