@model IEnumerable<Blog_VT18.Models.TimeSuggestion>

@{
    ViewBag.Title = "AllTimeSuggestion";
}

<h2>AllTimeSuggestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>
    <tr>
        <td><div> Pending MEETINGS</div></td>
    </tr>
    <tr>
        <td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Sender)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.text)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.start_date)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.end_date)
        </td>
        <td>
            @Html.LabelFor(model => model.First().Accepted, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td></td>
    </tr>

    @foreach (var item in Model.Where(x => x.Invited.Id == ViewBag.Me & x.Accepted == false & x.Denied == false))
    {
        using (Html.BeginForm("SaveTS", "Calendar", FormMethod.Post, new { item }))
        {
            @Html.HiddenFor(Model => Model.Single(x => x.ID == item.ID).ID, new { ID = item.ID })
            <tr>
                <td>
                <td>
                    @Html.DisplayFor(x => item.Sender.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.text)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.start_date)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.end_date)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(Model => Model.Single(x => x.ID == item.ID).Accepted, new { Accepted = item.Accepted })
                            @Html.ValidationMessageFor(x => item.Accepted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send answer" class="btn btn-default" />
                        </div>
                    </div>
                </td>
            </tr>}

    }
    <tr>
        <td><div> ACCEPTED MEETINGS</div></td>
    </tr>
    <tr>
        <td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Sender)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.text)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.start_date)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.end_date)
        </td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model.Where(x => x.Invited.Id == ViewBag.Me & x.Accepted == true))
    {
        using (Html.BeginForm("SaveTS", "Calendar", FormMethod.Post, new { item }))
        {
            @Html.HiddenFor(Model => Model.Single(x => x.ID == item.ID).ID, new { ID = item.ID })
            <tr>
                <td>
                <td>
                    @Html.DisplayFor(x => item.Sender.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.text)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.start_date)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Meeting.end_date)
                </td>
                <td></td>
                <td>
                    @foreach (var i in item.Dates)
                    {
                        @Html.DisplayFor(x => i.TheDate.Date)
                    }
                </td>
            </tr>}
    }

    <tr>
        <td><div> SENT MEETINGS</div></td>
    </tr>
    <tr>
        <td>
        @*<td>
            @Html.LabelFor(modelItem => Model.First().Invited)
        </td>*@
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.text)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.start_date)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.end_date)
        </td>
        <td>
            @Html.LabelFor(modelItem => Model.First().Meeting.ID)
        </td>
        <td></td>
        <td></td>
    </tr>
    @{List<string> allMeetings = new List<string>(); }
    @foreach (var item in Model.Where(x => x.Sender.Id == ViewBag.Me))
    {

        if (!allMeetings.Contains(item.Meeting.ID.ToString()))
        {
            allMeetings.Add(item.Meeting.ID.ToString());

            using (Html.BeginForm("SaveTS", "Calendar", FormMethod.Post, new { item }))
            {
            @Html.HiddenFor(Model => Model.Single(x => x.ID == item.ID).ID, new { ID = item.ID })
    <tr>
        <td>
        @*<td>
            @Html.DisplayFor(x => item.Invited.Name)
        </td>*@
        <td>
            @Html.ActionLink(item.Meeting.text, "MeetingInfo", new { id = item.Meeting.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(x => item.Meeting.start_date)
        </td>
        <td>
            @Html.DisplayFor(x => item.Meeting.end_date)
        </td>
        <td>
            @Html.DisplayFor(x => item.Meeting.ID)
            
        </td>
        <td></td>
        <td>
            @foreach (var i in item.Dates)
            {
            @Html.DisplayFor(x => i.TheDate.Date)
            }
        </td>
    </tr>}
        }
    }
</table>
