@model IEnumerable<Blog_VT18.Models.TimeSuggestion>

@{
    ViewBag.Title = "AllTimeSuggestion";
}

<h2>AllTimeSuggestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>











@foreach (var item in Model.Where(x=>x.Invited.Id == ViewBag.Me))
{
    <tr>
        <td>
        <td>
            @Html.LabelFor(modelItem => item.Sender)
            :
            @Html.DisplayFor(x => item.Sender.Name)
        </td>
        <td>
            @Html.LabelFor(modelItem => item.Invited)
            :
            @Html.DisplayFor(x => item.Invited.Name)
        </td>


        <td>
            
            @Html.LabelFor(modelItem => item.Dates)
            @foreach (var i in item.Dates)
            {
                @Html.DisplayFor(x => i.TheDate.Date)
            }
          
          

     </td>

    </tr>


    }


</table>
