@model IEnumerable<Blog_VT18.Models.TimeSuggestion>

@{
    ViewBag.Title = "AllTimeSuggestion";
}

<h2>AllTimeSuggestion</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>











    @foreach (var item in Model.Where(x => x.Invited.Id == ViewBag.Me))
    {

        using (Html.BeginForm("AllTimeSuggestion", "Calendar", FormMethod.Post, new { item }))
        {
            <tr>
                <td>
                <td>
                    @Html.LabelFor(modelItem => item.Sender)
                    :
                    @Html.DisplayFor(x => item.Sender.Name)
                </td>
                <td>
                    @Html.LabelFor(modelItem => item.Invited)
                    :
                    @Html.DisplayFor(x => item.Invited.Name)
                </td>

                <td>
                    <div class="form-group">
                        @Html.LabelFor(x => item.Accepted, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(x => item.Accepted, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => item.Accepted, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </td>


                <td>

                    @Html.LabelFor(modelItem => item.Dates)
                    @foreach (var i in item.Dates)
                    {
                        @Html.DisplayFor(x => i.TheDate.Date)
                    }



                </td>



                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send answer" class="btn btn-default" />
                        </div>
                    </div>
                        </td>
</tr>
        }

    }


</table>
