@model IEnumerable<Blog_VT18.Models.TimeSuggestion>

@{
    ViewBag.Title = "MeetingInfo";
}

<h2>Meeting Info</h2>

<div>
    <h4>Time Suggestion</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
        <dt>

            @Html.DisplayNameFor(model => model.Invited.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Invited.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Accepted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Denied)
        </dt>

        <dd>
            @Html.DisplayFor(model => item.Denied)
        </dd>
        }
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "AllTimeSuggestion")
</p>
