@model Blog_VT18.Models.TimeSuggestionViewModel

@{
    ViewBag.Title = "SendTimeSuggestion";
}
<h2>
    @ViewBag.Message
</h2>
<h4>Skicka mötesförfrågningar</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    List<SelectListItem> listItems = new List<SelectListItem>();

    foreach (var item in Model.AllUsers)
    {

        listItems.Add(new SelectListItem
        {
            Text = item.Name,
            Value = item.Id.ToString()
        });


    }

    @*Lägg till mötesskapare.id == ViewBag.Me *@

    @Html.DropDownListFor(model => model.SelectedUsers, listItems, "-- Select person --")


    List<SelectListItem> listItems2 = new List<SelectListItem>();

    foreach (var item in Model.AllMeetings)
    {

        listItems2.Add(new SelectListItem
        {
            Text = item.text,
            Value = item.ID.ToString()
        });
    }
    
    @Html.DropDownListFor(model => model.MeetingID, listItems2, "-- Select date --")

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
